/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);*/

body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#data-count h2 {
    line-height: 10px;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}


#valoarevanzari{
    padding-left: 35px;
}
#nrclienti{
    padding-left: 37px;
}
#valoaremedie{
    padding-left: 35px;
}
#qty{
    padding-left: 35px;
}
.piggy {
    background-image: url("../img/piggy.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.grafic {
    background-image: url("../img/grafic.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
.people {
    background-image: url("../img/people.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

.chart rect.bar {
    stroke: none;
    fill: steelblue;
}

.bar text.value {
    fill: white;
}

.pie-slice {
    fill: white;
    font-size: 12px;
}

.pie-slice .selected {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.pie-slice .deselected {
    strok: none;
    fill-opacity: .5;
}

.piechart-first {
    margin-top: 50px;
}

.axis {
    shape-rendering: crispEdges;
}

.axis path {
    fill: none;
}

.axis.y line {
    stroke: #fff;
    stroke-opacity: .8;
}

.axis.y path {
    stroke: black;
}

.activeday > a,
.activeday > a:hover {
    color: #ffffff;
    background-color: #0088cc !important;
    text-align: right;
}
.activeGest > a,
.activeGest > a:hover {
    color: #ffffff;
    background-color: #0088cc !important;
    text-align: right;
}

.activeProduct a{
    font-size: 18px;
}