{% load i18n %}
{% load active %}
{% url homeurl as home %}
{% url vanzariurl as vanzari %}
{% url stocuriurl as stocuri %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Dashboard</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Vanzari si stocuri grafice" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/charts.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap.css" />
    <style>
      body {
          padding: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />


    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/crossfilter.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/dc.js"></script>

      <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
          g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
          mixpanel.init("d324839f1f5f778b632184986e7a71c6");</script><!-- end Mixpanel -->

  </head>
  <body>

    <div class="container">
      <div id="header">


        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                  <div class="container">
                      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </a>
                      <a class="brand" href="/">Dashboard</a>
                      <div class="nav-collapse">
                          <ul class="nav">
                              {% if user.is_authenticated %}
                                  <script>mixpanel.name_tag('{{ user.username }}');</script>
                                  <li class="{% active request home %}"><a href="/home/">Home</a></li>
                                  <li class="{% active request vanzari %}"><a href="/vanzari/">Vanzari <small class="muted">beta</small></a></li>
                                  <li class="{% active request stocuri %}"><a href="/stocuri/">Stocuri <small class="muted">dev</small></a></li>
                          </ul>
                          <ul class="nav pull-right">
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                                      <ul class="dropdown-menu">
                                          {% if user.is_superuser %}
                                                <li><a href="/admin/">Settings</a></li>
                                          {% endif %}
                                          <li><a href="#">{{ user.profile.company.name }}</a></li>
                                          <li class="divider"></li>
                                          <li><a href="{% url userena_signout %}">{% trans 'Signout' %}</a></li>
                                      </ul>
                                  </li>
                              {% else %}
                                  <li class="pull-right"><a href="{% url userena_signin %}"><span>{% trans 'Signin' %}</span></a></li>

                              {% endif %}
                          </ul>
                      </div><!--/.nav-collapse -->
                  </div>
            </div>
        </div>
      </div><!-- /header-->



        {% block content_title %}{% endblock %}

      {% block content %}{% endblock %}

    </div><!-- /container-->

   </body>
 </html>
