{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Locatii
                    </li>
                    <li class="active">
                        <a href="#">Outlet 1, piata Unirii</a>
                    </li>
                    <li>
                        <a href="#">Outlet 2, piata Operei</a>
                    </li>
                    <li>
                        <a href="#">Outlet 3, centru</a>
                    </li>
                    <li>
                        <a href="#">Outlet 4, Arad</a>
                    </li>
                    <li class="nav-header">
                        Perioada
                    </li>
                    <li class="active">
                        <a href="#">Today</a>
                    </li>
                    <li>
                        <a href="#">Yeserday</a>
                    </li>
                    <li>
                        <a href="#">Last week</a>
                    </li>
                    <li>
                        <a href="#">Last month</a>
                    </li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="row">
                <div class="piggy span1 table table-bordered alert alert-error piggy">
                    <h2 id="valoarevanzari">4123</h2>
                    <h6>sales </h6>
                </div>
                <div class="people span1 table table-bordered alert alert-success">
                    <h2 id="nrclienti">73</h2>
                    <h6>stock value</h6>
                </div>
                <div class="grafic span1 table table-bordered alert alert-success">
                    <h2 id="valoaremedie">13</h2>
                    <h6>received</h6>
                </div>
                <div class="span1 table table-bordered alert">
                    <h2 style=" padding-left: 35px;">55</h2>
                    <h6>storno</h6>
                </div>
            </div>
            <div id="charts">
                <div class="row">

                    <div class="zeroStoc-chart span4">
                        <div class="title">Stock zero</div>
                    </div>
                    <div class="stocMare-chart span4">
                        <div class="title">Stock large</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/grafice.stocuri.js"></script>

{% endblock %}