{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}

    <div class="row">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">
                        Locatii
                    </li>
                    <li class="active">
                        <a href="#">Magazin 1, piata Unirii</a>
                    </li>
                    <li>
                        <a href="#">Magazin 2, piata Operei</a>
                    </li>
                    <li>
                        <a href="#">Magazin 3, centru</a>
                    </li>
                    <li>
                        <a href="#">Magazin 4, Arad</a>
                    </li>
                    <li class="nav-header">
                        Perioada
                    </li>
                    <li class="active">
                        <a href="#">Azi</a>
                    </li>
                    <li>
                        <a href="#">Ieri</a>
                    </li>
                    <li>
                        <a href="#">Saptamana trecuta</a>
                    </li>
                    <li>
                        <a href="#">Luna trecuta</a>
                    </li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div class="row">
                <div class="piggy span1 table table-bordered alert alert-error piggy">
                    <h2 id="valoarevanzari"></h2>
                    <h6>vanzare </h6>
                </div>
                <div class="people span1 table table-bordered alert alert-success">
                    <h2 id="nrclienti"></h2>
                    <h6>valoare stoc</h6>
                </div>
                <div class="grafic span1 table table-bordered alert alert-success">
                    <h2 id="valoaremedie"></h2>
                    <h6>receptii</h6>
                </div>
                <div class="span1 table table-bordered alert">
                    <h2></h2>
                    <h6>retur</h6>
                </div>
            </div>
            <div id="charts">
                <div class="row">
                    <div class="zeroStoc-chart span9">
                        <div class="title">Stoc zero</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}