{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content %}


<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">
                    Locatii
                </li>
                <li class="active">
                    <a href="#">Magazin 1, piata Unirii</a>
                </li>
                <li>
                    <a href="#">Magazin 2, piata Operei</a>
                </li>
                <li>
                    <a href="#">Magazin 3, centru</a>
                </li>
                <li>
                    <a href="#">Magazin 4, Arad</a>
                </li>
                <li class="nav-header">
                    Perioada
                </li>
                <li class="activeday azi">
                    <a href="javascript:filterActive('.azi',[null, null, null,  [new Date(2011, 4, 20), new Date(2011, 4, 21)]])">Azi</a>
                </li>
                <li class="ieri">
                    <a href="javascript:filterActive('.ieri',[null, null, null,  [new Date(2011, 4, 19), new Date(2011, 4, 20)]])">Ieri</a>
                </li>
                <li class="sapt">
                    <a href="javascript:filterActive('.sapt',[null, null, null,  [new Date(2011, 4, 13), new Date(2011, 4, 19)]])">Saptamana trecuta</a>
                </li>
                <li class="luna">
                    <a href="javascript:filterActive('.luna',[null, null, null,  [new Date(2011, 3, 1), new Date(2011, 3, 31)]])">Luna trecuta</a>
                </li>
                <li class="nav-header">
                    Produs
                </li>
                <li>
                    <input type="text" class="span2" data-provide="typeahead" data-items="4" data-source='["CAFEA","COVRIGI BREZEL 80 GR","COVRIGI F.D.INSIROPATI 100 GR.","CORNURI DULCI CU RAHAT 55 GR",",PLACINTA CU MAC 110 GR"]'>
                </li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
        <div class="row">
            <div class="piggy span1 table table-bordered alert alert-error piggy">
                <h2 id="valoarevanzari"></h2>
                <h6>vanzari</h6>
            </div>
            <div class="people span1 table table-bordered alert alert-success">
                <h2 id="nrclienti"></h2>
                <h6>nr clienti</h6>
            </div>
            <div class="grafic span1 table table-bordered alert alert-success">
                <h2 id="valoaremedie"></h2>
                <h6>vanz. medie</h6>
            </div>
            <div class="grafic span1 table table-bordered alert alert-success">
                <h2 style="padding-left: 35px;" id="vvvv">999</h2>
                <h6>vanz. medie</h6>
            </div>
            <div class="span2 table table-bordered alert">
                <h2>Strudel 123</h2>
                <h6>best seller</h6>
            </div>
        </div>
        <div id="charts">
            <div class="row">
                <div id="hour-chart" class="chart span3">
                    <div class="title">Ora</div>
                </div>
                <div id="delay-chart" class="chart span3" style="display: none;">
                    <div class="title">Categorie</div>
                </div>
                <div id="pie-chart" class=" span3">
                    <div class="title">Valoare</div>
                </div>
                <div id="distance-chart" class="chart span3">
                    <div class="title">Valoare</div>
                </div>
            </div>
            <div class="row">
                <div id="date-chart" class="chart span9">
                    <div class="title">Data</div>
                </div>
            </div>


        </div>
    </div>
</div>



    <div id="lists" class="row">
        <div id="flight-list" class="span5 list"></div>
        <div id="categories-list" class="span5 list">
            <table class="date table table-striped table-bordered table-condensed">
                <th class="day">Valori vanzari categorii</th>
                <tr class="flight">
                    <td class="time">Cofetarie</td><td class="origin">4434 lei</td>
                </tr>
                <tr class="flight">
                    <td class="time">Patiserie</td><td class="origin">1234 lei</td>
                </tr>
                <tr class="flight">
                    <td class="time">Panificatie</td><td class="origin">534 lei</td>
                </tr>
                <tr class="flight">
                    <td class="time">Ambalate</td><td class="origin">234 lei</td>
                </tr>
                <tr class="flight">
                    <td class="time">Cafea</td><td class="origin">34 lei</td>
                </tr>

            </table>
        </div>
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/grafice.vanzari.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pie-chart.js"></script>
{% endblock %}